<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>DictadoWhisper</string>
    <key>CFBundleIdentifier</key>
    <string>com.lukkes.dictadowhisper</string>
    <key>CFBundleName</key>
    <string>Dictado Whisper</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>Esta aplicación necesita acceso al micrófono para grabar tu voz y transcribirla a texto.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Esta aplicación necesita acceso al reconocimiento de voz para transcribir el audio grabado localmente en tu Mac de manera privada y offline.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Esta aplicación necesita simular la pulsación de Command+V para pegar el texto transcrito automáticamente.</string>
</dict>
</plist>
